<header class="header-6">
  <div class="branding">
    <span class="title"><a routerLink="/cards" class="text">Ancestral Tinder</a></span>
  </div>

  <div class="auth-class">
    <div *ngIf="authenticationService.isLoggedIn && principal" class="name-class">
      <a routerLink="/profile/{{principal.profile.id}}" class="text">{{principal.username}}</a>
    </div>
    <button *ngIf="authenticationService.isLoggedIn" type="button" class="btn btn-outline npt-logout-btn"
            (click)="logout()">Logout
    </button>
  </div>
</header>
