<div style="width: 100%; height: 100%" class="family-login">
  <div class="login-wrapper">
    <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <section class="title">
        <h3 class="welcome">Welcome to</h3>
        Ancestral Tinder
        <h5 class="hint">Use your Username or Email to login</h5>
      </section>
      <div class="login-group">
        <clr-input-container>
          <label class="clr-sr-only">Username</label>
          <input type="text" name="username" clrInput placeholder="Username or Email"
                 formControlName="usernameOrEmail"/>
        </clr-input-container>
        <clr-password-container>
          <label class="clr-sr-only">Password</label>
          <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
        </clr-password-container>
        <div class="error active" *ngIf="loginError">
          {{this.errorMsg}}
        </div>
        <div class="alert alert-success" role="alert" *ngIf="signUpSuccess">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
              </div>
              <span class="alert-text">{{this.errorMsg}}</span>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" id="login-button">LOGIN</button>
        <a type="button" class="signup" (click)="openModal()">OR SIGN UP</a>
      </div>
    </form>
  </div>
</div>

<clr-modal [(clrModalOpen)]="modalOpened">
  <h3 class="modal-title">Registration</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label>Username</label>
        <input clrInput [(ngModel)]="signUpRequest.username" placeholder="Username" name="username"/>
      </clr-input-container>
      <clr-input-container>
        <label>Password</label>
        <input clrInput type="password" [(ngModel)]="signUpRequest.password" placeholder="Password" name="password"/>
      </clr-input-container>
      <clr-input-container>
        <label>Email</label>
        <input clrInput [(ngModel)]="signUpRequest.email" placeholder="Email" name="email"/>
      </clr-input-container>
      <clr-input-container>
        <label>Name</label>
        <input clrInput [(ngModel)]="signUpRequest.name" placeholder="Name" name="name"/>
      </clr-input-container>
      <clr-select-container>
        <label>Sex</label>
        <select clrSelect name="type" [(ngModel)]="signUpRequest.sex">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </clr-select-container>
      <clr-date-container>
        <label>Date of Birth</label>
        <input type="date" clrDate name="date" [(ngModel)]="signUpRequest.dateOfBirth">
      </clr-date-container>
      <clr-input-container>
        <label>About</label>
        <input clrInput [(ngModel)]="signUpRequest.about" placeholder="About you" name="about"/>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modalOpened = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="registration()">Ok</button>
  </div>
</clr-modal>
