<div class="content-area">
  <div class="profile-overview-page">
    <div class="profile-content">
      <div class="card" *ngIf="profile">
        <div class="card-img">
          <img src="./assets/{{profile.sex}}.svg" style="height: 420px">
        </div>
        <div class="card-block">
          <h4 class="card-title">{{profile.name}}</h4>
          <p class="card-text">{{profile.about}}</p>
        </div>
        <ul class="list-group">
          <li class="list-group-item">{{profile.dateOfBirth}}</li>
        </ul>
        <div class="card-footer" *ngIf="haveAccess">
          <a class="btn btn-sm btn-link" (click)="openModal()">Edit</a>
        </div>
      </div>
    </div>
    <div style="width: 50%; ">
      <app-lovers #lovers *ngIf="haveAccess"></app-lovers>
    </div>
  </div>
</div>


<clr-modal [(clrModalOpen)]="modalOpened">
  <h3 class="modal-title">Edit profile</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label>Name</label>
        <input clrInput [(ngModel)]="profileDto.name" placeholder="Name" name="name"/>
      </clr-input-container>
      <clr-select-container>
        <label>Sex</label>
        <select clrSelect name="type" [(ngModel)]="profileDto.sex">
          <option value="male">
            Male
          </option>
          <option value="female">Female</option>
        </select>
      </clr-select-container>
      <clr-date-container>
        <label>Date of Birth</label>
        <input type="date" clrDate name="date" [(ngModel)]="profileDto.dateOfBirth">
      </clr-date-container>
      <clr-input-container>
        <label>About</label>
        <input clrInput [(ngModel)]="profileDto.about" placeholder="About you" name="about"/>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modalOpened = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modalOpened = false; updateProfile()">Ok</button>
  </div>
</clr-modal>
